@use "../sass/abstracts/variables";
@use "../sass/components/breadcrumb";
@use "../sass/components/counter";
@use "../sass/components/role-pill-desktop";
@use "../sass/components/role-pill-mobile";
@use "../sass/components/dropdown-menu";

* {
  margin: variables.$spacing-none;
  padding: variables.$spacing-none;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  height: 100vh;
}
